:root {
  --gray-default: #595959;
}

* {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-image: url("/img/bg.jpg");
  background-size: 100%;
}

#game-board-div {
  background-color: gray;
  border-radius: 1rem;
  padding: 2rem;
  margin-top: 4rem; 
  box-shadow: 0 1rem 1rem #212121;
}


/* HEADING */
h1 {
  font-size: 3rem;
  letter-spacing: 2rem;
  text-align: center;
  border: 0.5rem solid var(--gray-default);
  border-radius: 1rem;
  color: var(--gray-default);
  background-color: white;
}


/* TEMP GAUGE */
#temp-gauge-div {
  position: relative;
  background-color: #26acd9;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5rem solid var(--gray-default);
  border-radius: 2rem;
  margin: 2rem 0;
}

#temp-gauge-p {
  color: white;
  text-align: center;
  font-size: 1.25rem;
  z-index: 1;
  padding: 1rem;
}

#temp-gauge-heat-div {
  width: 92%;
  height: 100%;
  position: absolute;
  left: 1rem;
}


/* GUESS INPUTS */

/* disable arrows  */
input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
  
        input[type=number] {
            -moz-appearance: textfield;
        }

#guess-inputs-div {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin: 2rem;
}

.guess-input {
  color: var(--gray-default);
  width: 4rem;
  height: 4rem;
  text-align: center;
  font-size: 2rem;
  border: 0.5rem solid var(--gray-default);
  border-radius: 1rem;
}

.guess-input:focus {
  outline: none;
}

/* GUESS BUTTONS */
#guess-buttons-div {
  display: flex;
  justify-content: center;
}

.game-buttons {
  color: #525252;
  font-size: 1.5rem;
  border: 0.5rem solid var(--gray-default);
  border-radius: 1rem;
  width: 50%;
  box-shadow: 0px 3px 3px #383838;
  height: 4rem;
}

.game-buttons:active {
  box-shadow: 0px 1px 3px #383838;
}

.game-buttons:focus {
  outline: none;
}